@if (isArticleModifyOpen) {
    <app-article-details 
    [article]="currentArticle!"
    (cancel)="onArticleModifyCancel()"
    (save)="onArticleModifySave($event)"
    (remove)="onArticleModifyRemove()">
    ></app-article-details>
}


<div>
    <app-article-form (addArticleEvent)="handleAddArticle($event)"></app-article-form>
  
    <h2>Articles</h2>
    <div class="grid-container">
        @for (article of articles(); track article.id){
        <app-article-item
            [article]="article" (selectedId) = onSelect($event)>
        </app-article-item>
    }
    </div>
</div>
  