<div class="container mt-4">
    <!-- Include the form component -->
    <app-article-form (addArticleEvent)="handleAddArticle($event)"></app-article-form>

    <h2>Articles</h2>
    <!-- Grid Layout for Articles -->
    <div class="grid-container">
    <div class="grid-item" *ngFor="let article of articles()">
        <button class="article-button">
            <img class="article-image" [src]="'assets/articles/' + (article.imagePath || 'default.png')" alt="{{ article.name }}"/>
            <h2>{{ article.name }}</h2>
            <p>Category: {{ article.category }}</p>
            <!--<button class="button" (click)="deleteArticle(article.id)">Delete</button>-->
        </button>
    </div>
    </div>

</div>
  